* {
  margin: 0;
}

body {
  position: relative;
margin: auto;
width: 80%;
height: auto;
text-align: center;
}

div{
  color: white;
  width: 100%;
  height: auto;
  background-color: tan;
background-size: cover;
}

img {
  width: 50%;
  height: auto;
  margin-top: 2rem;
  
}
.result {
  background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#score {
  
  
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background: white;
  position: relative;
}

span{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 3rem;
font-weight: bold;
}

.text-reproved{
  color: red;
}

.text-aproved {
  color: green;
}

#header {
  color: white;
  background-color:darkkhaki;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

h1 {
  padding: 2rem;
}

h2 {
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lead{
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
  text-align: left;
  margin-left: 5rem;
}

label {
  margin-left: 2rem;
}

.my-5 {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
  
}



